body {
    color: #fff;
}

.answer-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: radial-gradient(circle, rgba(0,158,255,0.91) 14%, 
    rgba(182,54,180,1) 82%);
    font-size: 3rem;
    min-width: 80rem;
}

.answer-container:hover {
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 134, 217, 0.6);
transform: scale(1.02);
transform: transform 100ms;
}

.answer-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.answer-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    border: 0.5rem solid green;
}

.incorrect {
    border: 0.5rem solid red;
}

@media screen and (max-width:768px) {
    .answer-container {
        min-width: 40rem;
    }
}